@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Regular.woff") format(woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Medium.otf") format(opentype);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Semibold.otf") format(opentype);
  font-weight: 600;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapboxgl-popup {
  /* min-width: 100vw; */
  transform: none !important;
  top: 0;
  left: 0;
  min-width: 40vw;
  height: 100% !important;
  min-height: "-webkit-fill-available";
  z-index: 10;
  /* @media screen and (max-width: 500px) {
    max-width: 80% !important;
    height: 90%;
    top: 5%;
    left: 5%;
  } */
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  font-size: 60px;
  line-height: 1;
  font-weight: 100;
  color: burlywood;
  font-family: Graphik;
  right: 3%;
  padding: 0;
  margin: 0;
}

.mapboxgl-popup-content {
  font: 400 14px/18px "Graphik", "Helvetica Neue", sans-serif;
  height: 100%;
  padding: 1rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12%;
  color: rgb(231, 216, 196);
  align-items: center;
  /* max-width: 40vw; */
}

.mapboxgl-popup-content a {
  text-decoration: none;

  font: 600 18px/22px;
  color: rgb(231, 216, 196);
  cursor: pointer;
}

.mapboxgl-popup-content p {
  margin: 0;
  max-width: 80%;
}

.mapboxgl-popup-content h2 {
  font-family: "Graphik";
  font-weight: 600;
  font-size: 24px;
}

a:hover {
  color: #d25e5e;
}

.popupImage {
  width: 300px;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  pointer-events: none;
}

.meta {
  font-family: "Graphik";
  letter-spacing: 3.5px;
  font-weight: 600;
  color: #d25e5e;
  text-align: center;
  padding-bottom: 12px;
}

.map-container {
  height: 100vh !important;
}

.mapboxgl-map {
  height: 100vh !important;
}

@media only screen and (max-width: 950px) {
  .mapboxgl-popup {
    max-width: 50vw;
    min-width: 50vw;
  }
}

@media only screen and (max-width: 750px) {
  .popupImage {
    height: 300px !important;
    width: auto !important;
    aspect-ratio: auto !important;
    max-width: 100% !important;
    object-fit: contain !important;
  }
  .mapboxgl-popup {
    width: 80% !important;
    max-width: 80% !important;
    min-width: 80% !important;
    height: 70% !important;
    top: 5% !important;
    left: 5% !important;
  }
  .mapboxgl-popup-content {
    width: 100% !important;
    height: 100% !important;
    border: 2px solid white;
  }
  .mapboxgl-popup-content p {
    max-width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .mapboxgl-popup-content p {
    max-width: 100%;
  }
}
