.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapboxgl-popup {
  /* min-width: 100vw; */
  transform: none !important;
  top: 0;
  left: 0;
  min-width: 40vw;
  height: 100vh;
  @media screen and (max-width: 500px) {
    max-width: 80% !important;
    height: 90%;
    top: 5%;
    left: 5%;
  }
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  font-size: 60px;
  line-height: 1;
  font-weight: 100;
  color: burlywood;
  font-family: Graphik;
  right: 3%;
}

.mapboxgl-popup-content {
  font: 400 14px/18px "Graphik", "Helvetica Neue", sans-serif;
  height: 100vh;
  padding: 1rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12%;
  color: rgb(231, 216, 196);
  align-items: center;
  @media screen and (max-width: 500px) {
    padding-top: 20%;
    /* justify-content: flex-start; */
    width: 100%;
    height: 100%;
  }
}

.mapboxgl-popup-content a {
  text-decoration: none;

  font: 600 18px/22px;
  color: rgb(231, 216, 196);
  cursor: pointer;
}

.mapboxgl-popup-content p {
  margin: 0;
}

.mapboxgl-popup-content h2 {
  font-family: "Graphik";
  font-weight: 600;
  font-size: 24px;
}

.mapboxgl-popup-content h2:hover {
  color: red;
}

.popupImage {
  width: 300px;
  height: auto;
  @media screen and (max-width: 500px) {
    height: 300px;
    width: auto;
    aspect-ratio: auto;
    max-width: 100%;
    object-fit: contain;
  }
}

.meta {
  font-family: "Graphik";
  letter-spacing: 3.5px;
  font-weight: 600;
  color: #d25e5e;
  text-align: center;
  padding-bottom: 20px;
}

.map-container {
  height: 100vh !important;
}

.mapboxgl-map {
  height: 100vh !important;
}
